.box{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid tan;
}

.colorRed{
	background-color: red;
	margin-right: 5px;
}

.colorGreen{
	background-color:green;
	margin-right: 5px;
}

.colorBlue{
	background-color: blue;
	margin-right: 5px;
}