.box{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid tan;
}

.colorRed{
	background-color: red;
	margin-right: 5px;
}

.colorGreen{
	background-color:green;
	margin-right: 5px;
}

.colorBlue{
	background-color: blue;
	margin-right: 5px;
}
.btn{
	background-color: black; 
  border: solid 1px darkcyan;
  color: white;
  padding: 10px 30px;
	margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}